# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac
.DS_Store

# Temporary files
tmp/
temp/
*.tmp

# Logs
*.log

# Node
node_modules/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.local
*.env
